<nav class="sidebar-nav">
  <ul>
    <li>
      <a href="/" class="nav-link"
        ><i class="fas fa-tachometer-alt"></i> Dashboard</a
      >
    </li>
    <li>
      <a href="/restaurantes" class="nav-link"
        ><i class="fas fa-store"></i> Restaurantes</a
      >
    </li>
    <li>
      <a href="/eventos" class="nav-link"
        ><i class="fas fa-calendar-plus"></i> Eventos</a
      >
    </li>
    <li>
      <a href="/reservas" class="nav-link"
        ><i class="fas fa-bookmark"></i> Reservas</a
      >
    </li>
    <li>
      <a href="/usuarios" class="nav-link"
        ><i class="fas fa-users"></i> Usuários</a
      >
    </li>
    <li>
      <a href="/mesas" class="nav-link"><i class="fas fa-table"></i> Mesas</a>
    </li>
  </ul>
</nav>
